<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ColorFile</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1>Result:</h1>
    {% if is_image %}
        <img class="w-96 overflow-hidden object-cover h-96" src="{{ url_for('static', filename='output/' ~ image_path) }}" alt="Generated Image">
        <a href="{{ url_for('DownloadFile', filename=image_name) }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Download
        </a>
    {% else %}
        <p>File: {{ image_name }}</p>
        <a href="{{ url_for('DownloadFile', filename=image_name) }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Download
        </a>
    {% endif %}
</body>
</html>
